<!DOCTYPE html>
<html ng-app="tabs">
  <head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" href="assets/lib/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body ng-controller="MainCtrl">
    <header class="w3-top w3-container w3-indigo">
      <h3>IAUS 328</h3>
    </header>
    <div class="container">
      <p style="text-align:center">{{mes}}</p>

     <ul class="weekdays">
        <li class="weekends"><a>dom</a></li>
        <li><a ng-click="tab=2">seg</a></li>
        <li><a ng-click="tab=3">ter</a></li>
        <li><a ng-click="tab=4">qua</a></li>
        <li><a ng-click="tab=5">qui</a></li>
        <li><a>sex</a></li>
        <li class="weekends"><a>sab</a></li>
      </ul>

      <ul class="days">
        <li class="weekends"><a>16</a></li>
        <li><a ng-click="tab=1" ng-class="{'active' : tab==1}">17</a></li>
        <li><a ng-click="tab=2" ng-class="{'active' : tab==2}">18</a></li>
        <li><a ng-click="tab=3" ng-class="{'active' : tab==3}">19</a></li>
        <li><a ng-click="tab=4" ng-class="{'active' : tab==4}">20</a></li>
        <li><a ng-click="tab=5" ng-class="{'active' : tab==5}">21</a></li>
        <li class="weekends"><a>22</a></li>
      </ul>
    </div>
      <div class="tabs-container">
              <div class="tab-content" ng-show="tab == 1">
                <div>
                  <span ng-repeat="dt in dados | filter: {id_data : '5', parent : 'c92'}:true">
                  <li ng-if="dt.parent == 'c92' && dt.tipo == 0" testando2></li>
                  <li ng-if="dt.tipo == 1" testando2></li>
                  </span>
                </div>
              </div>
              <div class="tab-content" ng-show="tab == 2">
                <div>
                  <span ng-repeat="dt in dados | filter: {id_data : '6', parent : 'c93' }:true">
                  <li ng-if="dt.parent == 'c93' && dt.tipo == 0" artigo></li>
                  <li ng-if="dt.tipo == 1" pai></li>
                  </span>
                </div>
              </div>
              <div class="tab-content" ng-show="tab == 3">
                <div class="content" id="cac3">
                  <span ng-repeat="dt in dados | filter: {id_data : '7', parent:  'c94'}:true">
                  <li ng-if="dt.parent == 'c94' && dt.tipo == 0" artigo></li>
                  <li ng-if="dt.tipo == 1" pai></li>
                  </span>
                </div>
              </div>
              <div class="tab-content" ng-show="tab == 4">
                <div class="content" id="cac4">
                  <span ng-repeat="dt in dados | filter: {id_data : '8', parent : 'c95'}:true">
                  <li ng-if="dt.parent == 'c95' && dt.tipo == 0" artigo></li>
                  <li ng-if="dt.tipo == 1" pai></li>
                  </span>
                </div>
              </div>
              <div class="tab-content" ng-show="tab == 5">
                <div class="content" id="cac4">
                  <span ng-repeat="dt in dados | filter: {id_data : '9', parent : 'c96'}:true">
                  <li ng-if="dt.parent == 'c96' && dt.tipo == 0" artigo></li>
                  <li ng-if="dt.tipo == 1" pai></li>
                  </span>
                </div>
              </div>
      </div>

    <script src="assets/lib/angularjs/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/diretivas.js"></script>
  </body>

</html>
